.signin-container {
  color: var(--white-color);
  width: 100%;
  height: 100%;
  color: var(--red-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.signin-input-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 314px;
  height: fit-content;
  border-radius: 0.5rem;
  padding: 25px 68px 70px;
}

.signin-title {
  color: var(--white-color);
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50;
}

.signin-input {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  color: var(--white-color);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.signin-input-field {
  height: 56px;
  width: stretch;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.2rem;
  border-color: var(--white-color);
  padding-left: 16px;
  color: var(--white-color);
}

.signin-btn {
  height: 40px;
  width: 100%;
  background-color: var(--red-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 0;
}

.signin-btn:hover {
  cursor: pointer;
  background-color: var(--red-hover-color);
}

.siginin-or {
  font-size: 16px;
  font-weight: 50;
  opacity: 0.7;
  text-align: center;
}

.signin-btn-helper {
  height: 40px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);

  color: var(--white-color);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 0;
}

.signin-btn-helper:hover {
  background-color: transparent;
  cursor: pointer;
}

.signin-rememberme {
  margin-top: 10px;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.sigin-text-container {
  display: flex;
  gap: 5px;
}
.signin-text {
  font-weight: 50;
  opacity: 0.5;
}

.signin-text-signup:hover {
  color: var(--grey-text-color);
  cursor: pointer;
}

/* .signin-rememberme-checkbox {
  appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-right: 10px;
} */

.signin-text-remark {
  font-weight: 50;
  opacity: 0.5;
  font-size: 0.8rem;
}

.signin-text-link {
  color: #0071eb;
  text-decoration: none;
}

.signin-text-link:hover {
  color: var(--white-color);
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .signin-text-signup:hover {
    animation: signin-text-signup-shake infinite 0.5s linear;
  }
}

@keyframes signin-text-signup-shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .signin-btn:hover {
    animation: signin-text-signup-jump infinite 0.5s linear;
  }
}

@keyframes signin-text-signup-jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .signin-btn-helper:hover {
    animation: signin-btn-helper-move infinite 0.5s linear;
  }
}

@keyframes signin-btn-helper-move {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.signin-error {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* or any other background color you prefer */
  border: 1px solid var(--grey-text-color); /* or any other border color you prefer */
  padding: 10px;
  border-radius: 5px;
  color: red; /* or any other text color you prefer */
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  .run-away-btn:hover {
    animation: runAway 0.5s ease-in-out forwards;
  }
}

@keyframes runAway {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
