.footer-container {
  padding: 72px 168px;
  background-color: var(--black-background-color);
  color: var(--grey-text-color);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-links {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 80px;
}

.footer-link {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  text-decoration: underline;
  text-align: left;
}

.footer-link span:hover {
  color: var(--white-color);
  cursor: pointer;
}

.footer-select {
  margin-top: 40px;
  height: 100%;
  padding: 0px 8px;
  background-color: rgba(84, 84, 84, 0.5);
  color: var(--white-color);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.2);
}

.footer-option {
  background-color: rgba(84, 84, 84, 1);
  color: var(--white-color);
}
